## EDA & Feature Engineering

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_excel('flight_price.xlsx')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [5]:
# unique values of the airlines
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [6]:
# converting the 'date of journey' from object type to date-time type 
df['Date_of_Journey'] = pd.to_datetime(df['Date_of_Journey'],infer_datetime_format=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  datetime64[ns]
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 918.2+ KB

We can see that the 'Date_of_Journey' column has now been converted to datetime type

In [7]:
# Extracting & creating new columns as 'Day', 'Month','Year' from string Date_of_journey
df['Day'] = df['Date_of_Journey'].dt.day
df['Month'] = df['Date_of_Journey'].dt.month
df['Year'] = df['Date_of_Journey'].dt.year

In [1]:
# Another way to convert the columns, but it should be used before converting to datetime format type
# or else using dt.day/dt.month/dt.year is good way to convert
df['Day'] = df['Date_of_Journey'].str.split('/').str[0]# str[0] will extract the 1st index of the string
df['Month'] = df['Date_of_Journey'].str.split('/').str[1]
df['Year'] = df['Date_of_Journey'].str.split('/').str[2]

NameError: name 'df' is not defined

In [9]:
# Another method: using lambda function
df["Date"]=df['Date_of_Journey'].apply(lambda x:x.split("/")[0])
df["Month"]=df['Date_of_Journey'].apply(lambda x:x.split("/")[1])
df["Year"]=df['Date_of_Journey'].apply(lambda x:x.split("/")[2])

AttributeError: 'Timestamp' object has no attribute 'split'

In [8]:
# Droping the column as all details have extracted
df.drop('Date_of_Journey',axis=1,inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
dtypes: int64(1), object(9)
memory usage: 834.7+ KB

As we can see that the new columns i.e Day, Month & Year are created

Now we'll see the other columns to convert into proper format

In [10]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662

In [11]:
# Reapeating the same process as above for the 'Dep_Time' column
df['Dept_Hour']=df['Dep_Time'].str.split(':').str[0]
df['Dept_Min']=df['Dep_Time'].str.split(':').str[1]
df.drop('Dep_Time',axis=1,inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  datetime64[ns]
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  Day              10683 non-null  int64
 11  Month            10683 non-null  int64
 12  Year             10683 non-null  int64
 13  Dept_Hour        10683 non-null  object
 14  Dept_Min         10683 non-null  object
dtypes: datetime64[ns](1), int64(4), object(10)
memory usage: 1.2+ MB

Converting the Hour & Min into 'int' type

In [13]:
df['Dept_Hour'] = df['Dept_Hour'].astype(int)
df['Dept_Min'] = df['Dept_Min'].astype(int)

In [14]:
# Now for column Arrival_time
# we see that the string has '22 Mar' word in it so to extract the inital part of time
df['Arrival_Time'] = df['Arrival_Time'].apply(lambda x: x.split(' ')[0]) # removing space from the string

In [15]:
# Removing the ':' colon from time
df['Arrival_Hour'] = df['Arrival_Time'].str.split(':').str[0] 
df['Arrival_Min'] = df['Arrival_Time'].str.split(':').str[1]

In [16]:
df['Arrival_Hour']=df['Arrival_Hour'].astype(int)
df['Arrival_Min']=df['Arrival_Min'].astype(int)

In [17]:
df.drop('Arrival_Time',axis=1,inplace=True) #axis = 1 means droping via column

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  datetime64[ns]
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Day              10683 non-null  int64
 10  Month            10683 non-null  int64
 11  Year             10683 non-null  int64
 12  Dept_Hour        10683 non-null  int64
 13  Dept_Min         10683 non-null  int64
 14  Arrival_Hour     10683 non-null  int64
 15  Arrival_Min      10683 non-null  int64
dtypes: datetime64[ns](1), int64(8), object(7)
memory usage: 1.3+ MB

#### Now for column Total_Stops

In [19]:
# Unique values in that column
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [20]:
# Value counts: how many no. each element contains
df['Total_Stops'].value_counts()

1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: Total_Stops, dtype: int64

In [21]:
df['Total_Stops'].isnull().sum()

1

In [22]:
# Now to check the null value row 
# we will use the above code in a dataframe as:
df[df['Total_Stops'].isnull()]

,Airline,Date_of_Journey,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,Dept_Hour,Dept_Min,Arrival_Hour,Arrival_Min
9039,Air India,2019-05-06,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480,6,5,2019,9,45,9,25

#### Removing the nan value in 'Total_Stops' & replacing the Total_Stops values 1 stop,2 stop... with integer as 1,2,3

Since it is a catgorical value we will use 'mode' to replace nan. Mode: 1 stop

In [23]:
# Use map function with dictionary to replace them
df['Total_Stops'] = df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,'nan':1})

In [24]:
df.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,Dept_Hour,Dept_Min,Arrival_Hour,Arrival_Min
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,2h 50m,0.0,No info,3897,24,3,2019,22,20,1,10
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2.0,No info,7662,1,5,2019,5,50,13,15
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2.0,No info,13882,9,6,2019,9,25,4,25

#### For column 'Duration'

Extracting the hour & min value from the string

In [25]:
# 1 split for blank, 1 split for 'h'
df['duration_hour'] = df['Duration'].str.split(' ').str[0].str.split('h').str[0]
df['duration_hour']

0         2
1         7
2        19
3         5
4         4
         ..
10678     2
10679     2
10680     3
10681     2
10682     8
Name: duration_hour, Length: 10683, dtype: object

In [26]:
# Extracting the min part
df['duration_min'] = df['Duration'].str.split(' ').str[1].str.split('m').str[0]

As we know that all the duration time values are not having minute value because some flights have fixed time such as 3 hour, 2 hour etc

In [29]:
df['duration_min'].isnull().sum()

1032

Filling the null values with 0

In [31]:
df['duration_min'].fillna(0)

0        50
1        25
2         0
3        25
4        45
         ..
10678    30
10679    35
10680     0
10681    40
10682    20
Name: duration_min, Length: 10683, dtype: object

In [32]:
# Drop Duration
df.drop('Duration',axis=1,inplace=True)

In [34]:
df['duration_hour'] = df['duration_hour'].astype(int)
df['duration_min'] = df['duration_min'].astype(int)

ValueError: invalid literal for int() with base 10: '5m'

In [35]:
df[df['duration_hour']=='5m']

,Airline,Date_of_Journey,Source,Destination,Route,Total_Stops,Additional_Info,Price,Day,Month,Year,Dept_Hour,Dept_Min,Arrival_Hour,Arrival_Min,duration_hour,duration_min
6474,Air India,2019-03-06,Mumbai,Hyderabad,BOM → GOI → PNQ → HYD,2.0,No info,17327,6,3,2019,16,50,16,55,5m,NaN

This row has '5m' in place of hour, which is wrong value. Removing it is better option
So we will drop that row

In [ ]:
df.info()

In [ ]:
df.Airline.unique()

In [ ]:
# Target guided ordinal 
df.groupby('Airline')['Price'].mean()

In [ ]:
# Sorting the mean values
df.groupby('Airline')['Price'].mean().sorted()

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
ohe =

In [ ]:
pd.DataFrame(ohe.fit_tranform(df['Airline']))